/**
 * Main landing page
 */

#page-header {
		background-color: #00011e;
		color: GhostWhite;
}

header #logo {
		font-size: 5em;
		font-family: Georgia,serif;
}

header #site-nav {
		font-size: 1.5em;
		font-weight: bold;
		margin: 30px;
		display: inline;
		float: right;
}

#site-nav a {
		color: GhostWhite;
		margin-right: 20px;
		padding: 5px 10px;
}

#main #primary {
		background-color: #7C8EAC;
		color: GhostWhite;
		padding-bottom: 1em;
}

#marketing-workflow {
		font-size: 1.5em;
}

#main #secondary {
		background-color: #F2DF80;
		padding-bottom: 1em;
}

#info-boxes {
		padding-top: 1em;
}

.info-box header {
		background-color: Gainsboro;
		font-size: 1.5em;
		text-align: center;
}

.info-box {
		border: 3px solid Gainsboro;
		height: 252px;
}

#countdown {
		font-size: 2em;
}

.button-large {
		background-color: #C16B52;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
		background-image:-moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
		background-image:linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
		border-color:#295615;
		text-shadow:#123800 0px 1px 1px;
		-moz-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-webkit-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-o-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-moz-background-clip:padding;
		-webkit-background-clip:padding;
		-o-background-clip:padding-box;
		-ms-background-clip:padding-box;
		-khtml-background-clip:padding-box;
		background-clip:padding-box
}
.button-large,.button-large:visited {
		color:#fff
}
.button-large:hover,.button-large:focus {
		background-color:#35a800;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
		background-image:-moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
		background-image:linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
		border-color:#234912;
		text-shadow:#0d2800 0px 1px 1px
}
.button-large:hover,.button-large:hover:visited,.button-large:focus,.button-large:focus:visited {
		color:#fff
}
.button-large:active {
		background-color:#309900;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
		background-image:-moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
		background-image:linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
		border-color:#1e3d0f;
		text-shadow:#081900 0px -1px -1px;
		-moz-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		-webkit-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		-o-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		box-shadow:#295615 0 0.08em 0.1em 1px inset
}
.button-large:active,.button-large:active:visited {
		color:#fff
}

.button-small {
		background-color: #F4BE82;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
		background-image:-moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
		background-image:linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
		border-color:#295615;
		text-shadow:#123800 0px 1px 1px;
		-moz-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-webkit-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-o-box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		box-shadow:rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
		-moz-background-clip:padding;
		-webkit-background-clip:padding;
		-o-background-clip:padding-box;
		-ms-background-clip:padding-box;
		-khtml-background-clip:padding-box;
		background-clip:padding-box
}
.button-small,.button-small:visited {
		color:#fff
}
.button-small:hover,.button-small:focus {
		background-color:#35a800;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
		background-image:-moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
		background-image:linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
		border-color:#234912;
		text-shadow:#0d2800 0px 1px 1px
}
.button-small:hover,.button-small:hover:visited,.button-small:focus,.button-small:focus:visited {
		color:#fff
}
.button-small:active {
		background-color:#309900;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7b1e), color-stop(30%, #3f8320), color-stop(50%, #37721c), color-stop(50%, #316619), color-stop(100%, #4b9b26));
		background-image:-moz-linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
		background-image:linear-gradient(top, #3b7b1e 0%, #3f8320 30%, #37721c 50%, #316619 50%, #4b9b26 100%);
		border-color:#1e3d0f;
		text-shadow:#081900 0px -1px -1px;
		-moz-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		-webkit-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		-o-box-shadow:#295615 0 0.08em 0.1em 1px inset;
		box-shadow:#295615 0 0.08em 0.1em 1px inset
}
.button-small:active,.button-small:active:visited {
		color:#fff
}

