{namespace cljs_boilerplate.core}

/**
 * Header with the defaults we like, from HTML5 Boilerplate
 * @param title The name of the person.
 */
{template .header}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{$title}</title>
  <meta name="description" content="cljs-boilerplate">
  <meta name="author" content="Jim Blomo">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for this custom Modernizr build containing Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script src="js/libs/respond.min.js"></script>


</head>
{/template}

/**
 * Body with countdown span
 */
{template .main}
<body class="main-page">

	<div id="container">
		<!-- layout based on
		http://codefastdieyoung.com/2011/03/want-to-move-fast-just-do-this-part-1-design/
		-->
		<header id="page-header">
		<div class="container">

			<span id="logo">
				cljs-boilerplate
			</span>

			<div id="site-nav">
				<a href="/">Home</a>
				<a href="https://github.com/jblomo/cljs-boilerplate">Github</a>
				<!--
				<a href="/docs">Docs</a>
				-->
			</div>

		</div>
		</header>

		<div id="main" role="main">
			<div id="primary">
				<div class="container">
					<div class="prepend-2 span-10" id="marketing-main-message">
						<h1>Bringing together the best practices of Clojure, ClojureScript,
							HTML5 Boilerplate, and Google Closure.</h1>
						<hr/>
						<h2>Quickly develop and launch your website using fun
							technologies.</h2>
						<!-- TODO port fancy buttons
						<a href="/demo">Try the Demo</a>
						-->
					</div>

					<div class="span-10 append-2 last" id="marketing-workflow">
						<ol>
							<li>git clone cljs-boilerplate</li>
							<li>edit settings/custom.cljs</li>
							<li>lein ring server</li>
						</ol>
					</div>
				</div>
			</div>

			<div id="secondary">
				<div class="container">
					<div class="prepend-4 span-5">
						<h2>Recent Updates</h2>
						<p>TODO</p>
					</div>
					<div class="prepend-4 span-5 last">
						<h2>Other stuff</h2>
					</div>
				</div>
			</div>

			<div id="info-boxes" class="container prepend-1">
				<div class="info-box span-8">
					<header>Minimization &amp; Caching</header>
					<ul style="margin-right:1em;">
						<li>H5BP scripts compact CSS, HTML, Javascript plugins</li>
						<li>ClojureScript creates compact Javascript with Google's Advanced
						optimizations</li>
						<li>Google Closure Templates can be used client and server side</li>
						<li>*dev-mode* true makes all changes reflected on reload</li>
					</ul>
				</div>

				<div class="info-box span-7" style="text-align:center;">
					<header style="margin-bottom:10px;">Custom Widgets</header>
					<div id="countdown"></div>
				</div>

				<div class="info-box span-8 last">
					<header>Clojure Server &amp; Client Side</header>
					<!-- TODO syntax highlighting -->
					<pre>{literal}
; compojure/ring
(defroutes app
 (wrap-templates routes "soy")
 (compiled-clojurescript "/cljs/"))

; clojurescript
(doto (goog.ui.Button.
       "Start Countdown")
 (.render (dom/getElement
           "countdown"))
 (.setTooltip "This Javascript was
       written in ClojureScript!")){/literal}</code>
				</div>
			</div><!-- infoboxes -->

		<footer class="countainer">
		© 2011 Jim Blomo
		</footer>
	</div> <!--! end of #container -->
{/template}

/**
 * simple footer
 */
{template .footer}
  <!-- JavaScript at the bottom for fast page loading -->

  <!-- CLJS generated dynamically in dev, this section removed by ant build script-->
  <script type="text/javascript" src="cljs/out/goog/base.js"></script>
  <script type="text/javascript" src="cljs/bootstrap.js"></script>
  <script type="text/javascript">
  	goog.require('initializer.core');
  </script>
  <!-- end CLJS-->
  
  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts-->

  <!-- Change UA-XXXXX-X to be your site's ID -->
	{literal}<script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
	</script>{/literal}


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>{literal}
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	{/literal}<![endif]-->
  
</body>
</html>
{/template}

/**
 * Check some settings
 */
{template .settings}
<body class="settings-page">

	<div id="container">
		<ul>
			<li>tempalte global goog.DEBUG: {goog.DEBUG}</li>
			<li>JS dev-mode: <span id="dev-mode"></span></li>
			<li>javascript being served UTF-8: <span id="keyword"></span></li>
		</ul>
	</div>
{/template}
