{namespace project.webapp}

/**
 * Header with the defaults we like, from HTML5 Boilerplate
 * @param title The name of the person.
 */
{template .header}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{$title}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	{literal}<style>
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
	</style>{/literal}
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
{/template}

/**
 * Body with countdown span
 */
{template .main}
<body class="main-page">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">cljs-boilerplate</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="https://github.com/jblomo/cljs-boilerplate">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit">
				<h1>cljs-boilerplate</h1>
				<p>Bringing together the best practices of Clojure, ClojureScript,
				HTML5 Boilerplate, and Google Closure.</p>
				<p><a href="https://github.com/jblomo/cljs-boilerplate" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
			</div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Minimization &amp; Caching</h2>
					<ul>
						<li>H5BP scripts compact CSS, HTML, Javascript plugins</li>
						<li>ClojureScript creates compact Javascript with Google's Advanced
						optimizations</li>
						<li>Google Closure Templates can be used client and server side</li>
						<li>Use <code>lein</code> profiles to set production or
						dev modes</li>
					</ul>
        </div>
        <div class="span4">
          <h2>Custom Widgets</h2>
					<div id="countdown" style="margin-top:100px; text-align:center;"></div>
       </div>
        <div class="span4">
          <h2>Clojure Server &amp; Client Side</h2>
					<pre>{literal}
; compojure/ring
(defroutes app
 (wrap-templates routes "soy")
 (compiled-clojurescript "/cljs/"))

; clojurescript
(doto (goog.ui.Button.
       "Start Countdown")
 (.render (dom/getElement "countdown"))
 (.setTooltip "This Javascript was
       written in ClojureScript!")){/literal}</pre>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Jim Blomo 2012</p>
      </footer>
    </div> <!-- /container -->
{/template}

/**
 * simple footer
 */
{template .footer}
<!-- JavaScript at the bottom for fast page loading -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script type="text/javascript" src="cljs/out/goog/base.js"></script>
<script type="text/javascript" src="cljs/bootstrap.js"></script>
<script type="text/javascript">goog.require('initializer.core');</script>

<script src="js/script.js"></script>
<!-- end scripts -->

{literal}<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>{/literal}

</body>
</html>
{/template}

/**
 * Check some settings
 */
{template .settings}
<body class="settings-page">

	<div id="container">
		<ul>
			<li>template global goog.DEBUG: {goog.DEBUG}</li>
			<li>JS dev-mode: <span id="dev-mode"></span></li>
			<li>javascript being served UTF-8: <span id="keyword"></span></li>
		</ul>
	</div>
{/template}
